* {
    margin :0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent
}
html, body {
    width: 10rem;
    height: 100%;
    // 调试用
    overflow-y: hidden;
    font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
input[type="radio"] {
    width: 0;
    height: 0;
    display: inline-block;
    opacity: 0;
    // position: absolute;
}
// 选中 radio 后的 label
input:checked + label > .one-img,
input:checked + label > .two-img,
input:checked + label > .thr-img,
input:checked + label > .fur-img,
input:checked + label > .final-img {
    border: 2px solid #6b1a01;
}

// 主 contaienr 定高定宽
.container {
    width: 10rem;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    
    // 开发的时候暂时注释掉
    overflow: hidden;
}

// 左右滑动的 slide 定高定宽
.slide {
    &-container {
        width: 90rem;
        height: 100%;

        transform: translateX(0);
        transition: transform 1s;
    }

    // 每栏元素 item 定稿定宽
    &-items {
        width: 10rem;
        height: 100%;
        float: left;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

// 选择列表
.list {
    &-container {
        box-sizing: border-box;
        padding: 0.8rem;
        margin-left: auto;
        margin-right: auto;
        width: 8.266rem;
        height: 10.6rem;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: #fff7ea;

        &_two {
            padding: 0.6rem;
        }

        &_fur {
            height: 8.73rem;
            background-image: url('../imgs/fur-bian.png');
            background-size: 2.2rem 2.973rem;
            background-repeat: no-repeat;
            background-position: center;
        }

        &_final {
            background-image: url('../imgs/final-bian.png');
            background-size: 8.27rem 10.59rem;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.qrcode {
    position: absolute;
    width: 1.43rem;
    height: 1.43rem;
    top: 14.12rem;
    left: 7.6rem;
}

.result {
    position: relative;
    &-img {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

// =========================================================
// 首页-开启
.home {
    position: relative;
    background-image: url('../imgs/home-bg.png');
    background-size: cover;
    height: 100%;
    min-height: 16rem;
    
    &-btn {
        position: absolute;
        width: 3.133rem;
        height: 1.16rem;
        background-image: url('../imgs/home-btn.png');
        background-size: cover;
        left: 50%;
        margin-left: -1.55rem;
        top: 12rem;
    }
}

// =========================================================
// 选择队伍第一页
.one {
    box-sizing: border-box;
    position: relative;
    background-image: url('../imgs/bg.png');
    background-size: cover;
    height: 100%;
    min-height: 16rem;
    padding-top: 0.4rem;
    overflow: hidden;

    &-header {
        margin: 0 auto;
        width: 6.76rem;
        height: 2.28rem;
        background-size: cover;
        background-image: url('../imgs/one-header.png');
        margin-bottom: 0.5rem;
    }

    // 48-32 整个列表
    &-list {
        &_group {
            box-sizing: border-box;
            border-top: 1px solid #6b1a01;
            border-bottom: 1px solid #6b1a01;
            padding: 0.05rem 0;
        }
        &_title {
            box-sizing: border-box;
            border-top: 1px solid #6b1a01;
            border-bottom: 1px solid #6b1a01;
            padding: 0.09rem;
        }
        &_img {
            height: 0.72rem;
            margin: 0 auto;
            width: 1.88rem;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 3.84rem;
    }

    &-label {
        box-sizing: border-box;
        font-size: 0.27rem;
        line-height: 0.36rem;
        height: 2.8rem;
        text-align: center;
        color: #6b1a01;
    }

    &-img {
        width: 1.8rem;
        height: 1.8rem;
        border: 2px solid #fadeb5;
        border-radius: 50%;
        margin-bottom: 0.2rem;
    }

    &-btn {
        width: 3.13rem;
        height: 1.16rem;
        margin: 0 auto;
        margin-top: 1rem;
        background-image: url('../imgs/confirm.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    p {
        width: 1.8rem;
    }
}

// =========================================================
// 第二轮 16 进 8
.two {
    box-sizing: border-box;
    position: relative;
    background-image: url('../imgs/bg.png');
    background-size: cover;
    height: 100%;
    min-height: 16rem;
    padding-top: 0.4rem;

    &-img {
        width: 1rem;
        height: 1rem;
        border: 2px solid #fadeb5;
        border-radius: 50%;
    }

    &-name {
        width: 1.7rem;
        font-size: 0.27rem;
        line-height: 0.36rem;

        &_left {
            margin-left: 0.1rem;
            text-align: left;
        }
        &_right {
            margin-right: 0.1rem;
            text-align: right;
        }
    }

    &-header {
        margin: 0 auto;
        width: 6.2rem;
        height: 2.28rem;
        background-size: cover;
        background-image: url('../imgs/two-header.png');
        margin-bottom: 0.5rem;
    }

    &-form {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.05rem;
        border-bottom: 1px solid #6b1a01;
        background-image: url('../imgs/two-vs.png');
        background-size: 0.547rem 0.427rem;
        background-repeat: no-repeat;
        background-position: center;
    }

    &-label {
        box-sizing: border-box;
        display: inline-flex;
        width: 50%;
        align-items: center;
        height: 1.5rem;
        font-size: 0.15rem;
        border-bottom: 1px solid #6b1a01;
        
        &_left {
            justify-content: flex-start;
        }
        &_right {
            justify-content: flex-end;
        }
    }

    &-btn {
        width: 3.13rem;
        height: 1.16rem;
        margin: 0 auto;
        margin-top: 1rem;
        background-image: url('../imgs/confirm.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

// =========================================================
// 第三轮 8 进 4
.thr {
    box-sizing: border-box;
    position: relative;
    background-image: url('../imgs/bg.png');
    background-size: cover;
    height: 100%;
    min-height: 16rem;
    padding-top: 0.4rem;

    &-header {
        margin: 0 auto;
        width: 5.987rem;
        height: 2.28rem;
        background-size: cover;
        background-image: url('../imgs/thr-header.png');
        margin-bottom: 0.5rem;
    }
    
    &-form {
        display: flex;
        justify-content: space-between;
    }

    &-label {
        width: 2rem;
        height: 2rem;
        border: 1px solid #ccc;
        font-size: 0.2rem;
    }

    &-btn {
        width: 3.13rem;
        height: 1.16rem;
        margin: 0 auto;
        margin-top: 1rem;
        background-image: url('../imgs/confirm.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

// =========================================================
// 第四轮 4 进 2
.fur {
    box-sizing: border-box;
    position: relative;
    background-image: url('../imgs/bg.png');
    background-size: cover;
    height: 100%;
    min-height: 16rem;
    padding-top: 0.4rem;

    &-header {
        margin: 0 auto;
        width: 5.987rem;
        height: 2.28rem;
        background-size: cover;
        background-image: url('../imgs/fur-header.png');
        margin-bottom: 0.5rem;
    }
    
    &-img {
        box-sizing: border-box;
        width: 2.6rem;
        height: 2.6rem;
        border: 2px solid #fadeb5;
        border-radius: 50%;
    }

    &-name {
        width: 2.6rem;
        margin-top: 0.1rem;
        text-align: center;
        font-size: 0.28rem;
        line-height: 0.36rem;
        color: #6b1a01;
    }
    
    &-form {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.05rem;
        background-image: url('../imgs/fur-vs.png');
        background-size: 0.827rem 0.613rem;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &-label {
        box-sizing: border-box;
        width: 2.6rem;
        height: 3.6rem;
        font-size: 0.15rem;
    }

    &-btn {
        width: 3.13rem;
        height: 1.16rem;
        margin: 0 auto;
        margin-top: 1rem;
        background-image: url('../imgs/confirm.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

// =========================================================
// 第五轮 决赛
.final {
    box-sizing: border-box;
    position: relative;
    background-image: url('../imgs/bg.png');
    background-size: cover;
    height: 100%;
    min-height: 16rem;
    padding-top: 0.4rem;

    &-header {
        margin: 0 auto;
        width: 5.987rem;
        height: 2.28rem;
        background-size: cover;
        background-image: url('../imgs/final-header.png');
        margin-bottom: 0.5rem;
    }

    &-img {
        box-sizing: border-box;
        width: 2.8rem;
        height: 2.8rem;
        border: 2px solid #fadeb5;
        border-radius: 50%;
    }

    &-name {
        width: 2.8rem;
        margin-top: 0.1rem;
        text-align: center;
        font-size: 0.28rem;
        line-height: 0.36rem;
        color: #6b1a01;
    }
    
    &-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: url('../imgs/final-vs.png');
        background-size: 1.093rem 0.813rem;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    &-label {
        width: 2.8rem;
        height: 3.74rem;
        font-size: 0.2rem;
    }

    &-btn {
        width: 3.13rem;
        height: 1.16rem;
        margin: 0 auto;
        margin-top: 1rem;
        background-image: url('../imgs/confirm.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

// =========================================================
.share {
    box-sizing: border-box;
    position: relative;
    width: 10rem;
    height: 16.08rem;

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 10rem;
        height: 16.08rem;
    }

    .eight-item {
        box-sizing: border-box;
        width: 2.64rem;
        height: 1.25rem;
        &_img {
            margin: 0 auto;
            width: 0.72rem;
            height: 0.72rem;
            background-color: #ccc;
            border-radius: 50%;
        }
        &_name {
            padding: 0.1rem;
            font-size: 0.27rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &-eight {
        &_left {
            position: absolute;
            top: 3.53rem;
            left: 0;
        }
        &_right {
            position: absolute;
            top: 3.53rem;
            right: -0.01rem;
        }
    }

    .four-item {
        box-sizing: border-box;
        width: 0.72rem;
        height: 2.5rem;
        &_img {
            margin: 0 auto;
            width: 0.72rem;
            height: 0.72rem;
            background-color: #ccc;
            border-radius: 50%;
        }
    }
    &-four {
        &_left {
            position: absolute;
            top: 4.15rem;
            left: 2.75rem;
        }   
        &_right {
            position: absolute;
            top: 4.15rem;
            right: 2.74rem;
        }   
    }

    .two-item {
        box-sizing: border-box;
        width: 0.72rem;
        height: 5rem;
        &_img {
            margin: 0 auto;
            width: 0.72rem;
            height: 0.72rem;
            background-color: #ccc;
            border-radius: 50%;
        }
    }
    &-two {
        &_left {
            position: absolute;
            top: 5.39rem;
            left: 3.24rem;
        }
        &_right {
            position: absolute;
            top: 5.39rem;
            right: 3.22rem;
        }  
    }

    &-one_left {
        position: absolute;
        width: 0.72rem;
        height: 0.72rem;
        top: 7.87rem;
        left: 3.72rem;
        background-color: #ccc;
        border-radius: 50%;
    }

    &-one_right {
        position: absolute;
        width: 0.72rem;
        height: 0.72rem;
        top: 7.87rem;
        right: 3.71rem;
        background-color: #ccc;
        border-radius: 50%;
    }

    &-winner {
        position: absolute;
        width: 0.88rem;
        height: 0.88rem;
        top: 6.78rem;
        left: 4.56rem;
        background-color: #ccc;
        border-radius: 50%;
    }
}
